extends layout

block content
  .container-fluid
  .row
    .col-md-12
      .page-header
        h1
          | Google Cloud Storage
          small &nbsp;&nbsp;&nbsp;A Fucking Awsome Present
  .row
    .col-md-4
      form(
        role='form'
        enctype='multipart/form-data'
        method='POST'
        action='/upload/image'
      )
        .form-group
          input#exampleInputFile.form-control-file(type='file' name='image' multiple)
        button.btn.btn-primary(type='submit')
          | Submit
      table.table
        thead
          tr
            th
              | #
            th
              | Product
            th
              | Payment Taken
            th
              | Status
        tbody
        
          <% drinks.forEach(function(drink) { %>
            tr
              td
                | 1
              td
                | TB - Monthly
              td
                | 01/04/2012
              td
                | Default
          <% }); %>
          
    .col-md-4
      img.preview(alt='Bootstrap Image Preview', src='https://www.layoutit.com/img/sports-q-c-140-140-3.jpg')
      .row
        .col-md-4
          button.btn.btn-primary.btn-block(type='button')
            | Button
        .col-md-4
          button.btn.btn-success.btn-block(type='button')
            | Button
        .col-md-4
          button.btn.btn-info.btn-block(type='button')
            | Button
    .col-md-4
      .jumbotron
        h2
          | Vision Rank
        p
          | [{"feature":"qwer","rank":99},{"fearure":"asdf","rank":87},{"feature":"zxcv","rank":55},{"feature":"rtyu","rank":34}]
        p
          a.btn.btn-primary.btn-large(href='#') Show more

