<%# views/layout.ejs %>
<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div id="loading-bar">
        <img src="/loading.svg" alt="">
    </div>
    <%- content %>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                fileList: [],
                target: {
                    name: null,
                    link: null,
                    feature: []
                }
            },
            created() {
                this.getfiles()
            },
            methods: {
                getfiles() {
                    let self = this;

                    $.get('/files', function(result) {
                        self.fileList = result;
                        $('#loading-bar').fadeOut(100)
                    })
                },
                getMeta(item) {
                    var self = this;
                    $('#loading-bar').fadeIn(100)
                    $.get(`/meta?name=${item.name}`, function(result) {
                        self.target.name = result.name
                        self.target.link = result.mediaLink
                        self.getFeature(item);
                        $('#loading-bar').fadeOut(100)
                        console.log(result)
                    })
                },
                getFeature(item) {
                    var self = this;
                    $('#loading-bar').fadeIn(100)
                    $.get(`/vision?img=${item.name}`, function(result) {                        
                        self.target.feature = result[0].labelAnnotations
                        $('#loading-bar').fadeOut(100)
                    })
                }
            }
        })
    </script>
    
</body>

</html>